# Notes:
# - clang-analyzer-optin.core.EnumCastOutOfRange: Useful, complains about std::filesystem::file_size for no fucking reason
# - clang-analyzer-cplusplus.NewDeleteLeaks: borked (https://github.com/llvm/llvm-project/issues/55219)
# - misc-no-recusion: Why the actual fuck is this a thing??
Checks: >
  -*,
  bugprone-*,
  clang-*,
  misc-*,
  performance-*,
  portability-*,
  modernize-deprecated-headers,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-diagnostic-unused-parameter,
  -misc-non-private-*,
  -misc-const-correctness,
  -misc-include-cleaner,
  -performance-avoid-endl,
  -performance-enum-size,
  -readability-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -misc-no-recursion

# Windows does not like to cooperate with the correct type of path slashes
HeaderFilterRegex: ".*\\/src\\/upm\\/.*"
